.danger {
	text-decoration:none;
	font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
	background-color: rgb(216, 74, 56);
	color:#FFF;
	width:100%;
	padding-bottom: 10px;
	
	padding-top: 10px;
	display:inline-block;
}
.center {
	width:95%;
	padding:0px;
	margin:0px auto;
	text-align:center;
}
body {
	padding:0px;
	margin:0px;
	font-family:Arial;
	background:#EEE;
}

h1 {
	padding-top:10px;
	color:#2222;
}

.disk {
	
	display: inline-block;
	
	width: 100%;
}

.message {
	background: #FFF;
	text-align: center;
	font-size: 300%;
	top:37%;
	position: fixed;
	width: 100%;
	z-index:999999;
}

.loading {
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.5);
	display: none;
	z-index:99999;
}


#prgoress {
    position:relative;
}

#progress_bg {
    background:#a0dcea;
    width:100%;
    position:absolute;
    padding-top:5px;
    padding-bottom:5px;
    top:0px;
}

#progress_value {
    background:#52cee0;
    width:20%;
    position:absolute;
    top:0px;
    text-align:center;
    padding-top: 5px;
    padding-bottom: 5px;
color:#FFF;
    font:Arial 13px;
}
